
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*{font-family: 'Nunito', sans-serif;}
a{text-decoration: none;}
.header-icon{
    padding: 7px 15px 7px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    color: black;
    transition: ease .5s;
}
.header-icon:hover{background-color: gainsboro;color: black;}

body{
  background-color: #f2f2f2;
}
.icon-input{
  height: 45px;
}
.card-aps{
  position: absolute;
  bottom: -30px;
  width: 86%;
}

.bg {
  /* The image used */
  background-image: url("../img/aire-1.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.date{
  border-radius: 3px;
  border: 1.5px solid #0071c2;
  height: 48px;
 
  margin-right: 2px;
  margin-left: -3px;
}
.date-item{
  border: none;
  padding: 6px;

}
.date-item:focus{
  outline: none;
}

.content-form{
  border: #0071c2 solid 2px;
}
select:focus, input:focus{
  /* border: 2px solid #0071c2; */
  outline: 0;
  box-shadow: none!important;
}
.collapsed{background-color: rgb(0 0 0 / 20%);}

.submit .btn-detail{
  padding: 10px;
  border: none;
}

/*  */

.cover{object-fit: cover;}
.btn-detail {
  border-radius: 2px;
  border-color: #0071c2;
  background-color: #0071c2;
  color: white;
  transition: ease .5s;
}
.btn-detail:hover{
  color: #f1d2aaf5;
  background-color: #00487a;
}
.title{
  text-align: left;
}
h6{margin-bottom: 0;font-size: small;}
.link{
  font-size: small;
}
.link:hover{
  text-decoration: underline;
}

hr{
  padding: 0;
  margin: 0;
}
.stars svg{
  margin-right: 4px;
}
.reviews{
  font-size: 14px;
}
ul{
  list-style: none;
    padding: 0;
    margin: 0;
}
.free{text-align: left;margin-top: 5px;}

.log-in{
    background: #0071c2;
    border: none;
    padding: 7px 14px;
    color: white;
    transition: ease .5s;
    cursor: pointer;
}

.log-in:hover{
  color: #fffffff5;
  background-color: #00487a;
}

.love{
  position: absolute;
    right: 12px;
    top: 7px;
    padding: 3px 7px;
    background: black;
    border-radius: 50%;
    color: white;
}
.love:hover{
  background: white;
  color: red;
  transition: ease .5s;

}

input[type=checkbox]{cursor: pointer;}
.header-link{
  font-size: 14px;
  cursor: pointer;
  transition: ease .5s;
  width: 23%;
}
h1{color: #0071c2;}
.box{
  transition: ease .5s;
}
.box:hover{
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 3px;
}
.company-flight{
  font-size: 14px;
}
.date{font-size: 18px!important;}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .card-aps{
    position: absolute;
    bottom: -30px;
    width: 93%;
  }
  
 }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .card-aps{
    position: absolute;
    bottom: -30px;
    width: 93%;
  }

  
 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  
 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
  
 }

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
  
 }
